body {
    color: black;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: burlywood;
    padding: 1rem;
}

nav .link {
    color: rgb(112, 73, 51);
    text-decoration: none;
    padding: 1em;
    margin: 2em;
    font-weight: bold;
}

nav .link:hover {
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

article {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}


